{% if event_impend %}
    <li class="edit">
        <a href="{% url 'signed-for-hike-update' pk %}" id="edit-info">Редактирай информация</a>
        <i class="fa-solid fa-square-pen"></i>
    </li>
    {% if is_confirmed %}
        <li class="successful">
            <a href="{% url 'signed-for-hike-confirming' pk 'True' %}">Потвърди участие</a>
            <i class="fa-solid fa-person-circle-check"></i>
        </li>
        <li class="unsuccessful">
            <a href="{% url 'signed-for-hike-confirming' pk 'False' %}">Откажи участие</a>
            <i class="fa-solid fa-person-circle-xmark"></i>
        </li>
    {% endif %}
{% else %}
    {% if is_presence %}
        <li class="successful">
            <a href="{% url 'signed-for-hike-presence' pk 'True' %}">Потвърди присъствие</a>
            <i class="fa-solid fa-square-check"></i>
        </li>
        <li class="unsuccessful">
            <a href="{% url 'signed-for-hike-presence' pk 'False' %}">Откажи присъствие</a>
            <i class="fa-solid fa-square-xmark"></i>
        </li>
    {% endif %}
{% endif %}