{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load dispatcher_for_level_and_type_of_hike %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_title %}
    {% type_or_level_form_title form_title %}
{% endblock %}


{% block page_content %}
    <main>
        <section>
            <article class="form-container">
                <form method='post' action="{% type_or_level_form_url form_url %}" class="fields-form">
                    <h2>{% type_or_level_form_title form_title %}</h2>
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {{ field.errors }}
                    {% endfor %}
                    {% csrf_token %}
                    <div class="buttons">
                        <button>{% type_or_level_button_text button_text %}</button>
                        <button onclick="history.back()">Отказ</button>
                    </div>
                </form>
            </article>
        </section>
    </main>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/aside-bar-menu.js' %}"></script>
{% endblock %}