{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_content %}
    <main>
        <section class="hike-detail">
            <article class="form-container">
                <form action="{{ form_url }}" method="post" class="fields-form">
                    <h2>{{ form_title }}</h2>
                    <h3>{{ object.title }}</h3>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% csrf_token %}
                    <div class="buttons">
                        <button>Изтрий</button>
                        <button type="button"><a href="{% url cancel_url_button %}">Отказ</a></button>
                    </div>
                </form>
            </article>
        </section>
    </main>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/aside-bar-menu.js' %}"></script>
    <script src="{% static 'js/show-hike-upload-picture.js' %}"></script>
{% endblock %}
