<div class="buttons">
    <button>
        <a href="{% url 'hike detail' pk=hike.pk slug=hike.slug %}">Виж повече</a>
    </button>
    {% if sign_me_hike_button %}
        <button type="button">
            <a datatype="{{ hike.pk }}/{{ hike.slug }}" id="sign-for-hike">
                Запиши ме запохода</a>
        </button>
    {% elif edit_hike_button %}
        <button type="button">
            <a href="{% url 'all signed for hike' pk=hike.pk slug=hike.slug %}">Всички записани</a>
        </button>
    {% endif %}
</div>