<div id="hike-modal">
    <form method="post" class="sign-up-for-hike" action="" id="sign-for-hike-form">
        <i class="fa-solid fa-circle-xmark" id="hide-sign-hike-form"></i>
        <h2>Запиши се за поход</h2>
        <div class="form-floating">
            <input type="text" id="first-name" value="{{ user.get_first_name }}" name="first_name" required/>
            <label for="first-name">Име:</label>
        </div>
        <div class="form-floating">
            <input type="text" id="last-name" value="{{ user.get_last_name }}" name="last_name" required/>
            <label for="last-name">Фамилия:</label>
        </div>
        <div class="form-floating">
            <input type="tel" id="phone_number" value="{{ user.phone_number }}" name="phone_number" required/>
            <label for="phone_number">Телефон:</label>
        </div>
        <div class="form-floating numbers">
            <label for="adults-count">Брой възрастни:</label>
            <div class="numeric">
                <span class="plus">+</span>
                <input type="number" id="adults-count" value="0" inputmode="numeric" name="adults_numbers"/>
                <span class="minus">-</span>
            </div>
        </div>
        <div class="form-floating numbers">
            <label for="children-count">Брой деца под 16 години:</label>
            <div class="numeric">
                <span class="plus">+</span>
                <input type="number" id="children-count" value="0" inputmode="numeric" name="children_numbers"/>
                <span class="minus">-</span>
            </div>
        </div>
        <div class="form-floating chooses">
            <label for="choose-hike">Избери поход:</label>
            <select name="choose_hike" id="choose-hike" required>
                {% for hike in object_list %}
                    <option value="{{ hike.pk }}">{{ hike.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-floating">
            <p>Пътувам с:</p>
            <div class="wrapper">
                <input type="radio" name="choose_transport" id="organized-transport" value="1" required/>
                <input type="radio" name="choose_transport" id="personal-transport" value="2" required/>
                <label for="organized-transport" class="option option-1" id="option-1">
                    <div class="dot"></div>
                    <span>Организиран Транспорт</span>
                </label>
                <label for="personal-transport" class="option option-2">
                    <div class="dot"></div>
                    <span>Собствен Транспорт</span>
                </label>
            </div>
        </div>
        {% if user.is_anonymous %}
            <div class="form-floating registration">
                <input type="checkbox" id="sing-me-up"/>
                <label for="sing-me-up">Регистрирай ме</label>
            </div>
            <div class="form-floating" id="user-info">
                <input type="email" id="email" name="email"/>
                <label for="email">Имейл:</label>
            </div>
        {% endif %}
        {% csrf_token %}
        <button type="submit">Запиши се</button>
    </form>
</div>
