<!DOCTYPE html>
<html lang="en">
<body style="background-color: #f6f6f6 !important; border: 0; width: 100%; padding: 0; margin: 0; border-radius: 10px !important;">
{% include 'users/email-templates/logo.html' %}

<div style="padding: 20px;">
    <h3 style="color: #1b1b1b;">Здравейте, {{ user.profilebaseinformation.get_full_name }},</h3>

    <p style="color: #1b1b1b;">За Вашия клиентски профил в <a href="https://{{ domain }}/"><strong>{{ domain }}</strong></a>
        е пусната заявка за забравена парола.
    </p>

    <p style="color: #1b1b1b;">
        Заявката е реализирана от IP адрес: {{ ip_address }}
    </p>

    <p style="color: #1b1b1b;">В случай че не сте заявили промяна на паролата, моля игнорирайте този имейл.</p>

    <p style="color: #1b1b1b;">
        За да промените паролата си, натиснете
        <a href="{{ protocol }}://{{ domain }}{% url 'reset password confirm' uidb64=uid token=token %}">тук</a> .
    </p>

    <span style="color: #c41e3d; margin: 0;">Препратката е валидна до {{ time_remaining }}.След изтичането на този период,
        е необходимо да подадете нова заявка.
    </span>

    {% include 'users/email-templates/regards.html' %}
</body>
</html>
