<!DOCTYPE html>
<html lang="en">
<body style="background-color: #f6f6f6 !important; border: 0; width: 100%; padding: 0; margin: 0; border-radius: 10px !important;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0;">
    <tbody>
    <tr>
        <td width="100%" align="center" valign="top">
            <img src="https://res.cloudinary.com/doh9wk7mw/image/upload/v1685648111/Logo_bfqo11.png" alt="Logo"
                 title="Logo" width="400" height="70" align="center" style="margin-top: 30px;">
        </td>
    </tr>
    </tbody>
</table>

<div style="padding: 20px;">
    <h3 style="color: #1b1b1b;">Здравейте, {{ user.get_full_name }}</h3>

    <p style="color: #1b1b1b;">
        Вие успешно направихте регистрация в
        <a href="https://{{ domain }}/"><strong>{{ domain }}</strong></a>.
    </p>

    <p style="color: #1b1b1b;">Вие създадохте успешно своя профил! Вашето потребителско име е Вашия e-mail адрес.</p>
    <p style="color: #1b1b1b;">Телефонния номер за връзка с вас е: {{ user.phone_number }}</p>

    {% if password %}
        <p style="color: #1b1b1b; padding-bottom: 5px;">Генерирахме за Вас парола: <strong>{{ password }}</strong></p>
        <span style="color: #c41e3d; margin: 0;">Моля да променте паролата след като успешно влезете в профила си.</span>
    {% endif %}

    <div style="margin-top: 30px;">
        <p style="margin: 0; color: #1b1b1b;">
            Поздрави, <br/>
            Екипът на Леки Походи В Планината
        </p>
    </div>
</div>

<hr style="border-width: 1px;">

<div style="padding: 20px; color: #1b1b1b;">
    За да влезете в профила си, цъкнете <a href="http://lekipohodivplaninata.bg" style="color: #cf5533">тук</a> и
    въведете e-mail адреса и
    парола си. За да смените паролата си или други лични данни, посетете секцията Моят Профил. В случай, че забравите
    своята парола, използвайте линка „Забравена парола”, за да генерирате нова.Съобщението се изпраща автоматично. Моля,
    не отговаряйте.
</div>
</body>
</html>