.home-slider {
    margin: 10px;
    height: calc((100vw / 1.78) + 25px);
}

.home-slider .card {
    position: relative;
    height: inherit;
}

.home-slider .card::after {
    content: '';
    background-color: #cf5533;
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 200px;
    height: 55px;
    margin-left: 5px;
    border-radius: 10px 20px;
}

.home-slider .card::before {
    content: '';
    background-color: #ffffff;
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 200px;
    height: 50px;
    border: 5px solid #ffffff;
    border-top-right-radius: 23px;
}

.home-slider .image-content {
    border-radius: 10px;
    overflow: hidden;
    height: calc((100vw / 1.78));
}

.home-slider .image-content:before {
    content: '';
    position: absolute;
    left: 210px;
    bottom: 25px;
    width: 10px;
    height: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    box-shadow: -2px 2px 0 2px #ffffff;
}

.home-slider .image-content:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 85px;
    width: 10px;
    height: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    box-shadow: -2px 2px 0 2px #ffffff;
}

.home-slider .image-content img {
    width: 100%;
    height: calc(100vw / 1.78);
    object-fit: cover;
}

.home-slider .card-content {
    position: absolute;
    width: 190px;
    height: 50px;
    bottom: 28px;
    left: 10px;
    z-index: 2;
    text-overflow: ellipsis;
    overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-slider .card-content h2 {
    font-family: 'Marck Script', cursive;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.home-slider .card-content h2 a {
    text-decoration: none;
    color: inherit;
}

.home-slider .card-content p {
    color: #ffffff;
}

.swiper-button-next, .swiper-button-prev {
    color: #cf5533;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 20px;
}

.swiper-pagination-bullet-active {
    background-color: #cf5533;
}

@media only screen and (width > 480px ) {
    .home-slider {
        margin: 10px;
        height: calc((60vw / 1.78) + 25px);
    }

    .home-slider .card {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .home-slider .card .image-content {
        width: 80%;
        border-radius: 10px;
        overflow: hidden;
        height: calc(100% - 50px);
    }

    .home-slider .card .image-content img {
        height: 100%;
        object-fit: cover;
    }

    .home-slider .image-content::after {
        left: 10%;
    }
}