.home-slider {
    height: calc((100vw / 1.78) + 25px);
}

.home-slider .card {
    position: relative;
    height: inherit;
}

.home-slider .card::after {
    content: '';
    background-color: #cf5533;
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 205px;
    height: 55px;
    /*border: 10px solid #ffffff;*/
    border-radius: 0 20px 0 0;
}

.home-slider .card::before {
    content: '';
    background-color: #ffffff;
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 200px;
    height: 50px;
    border: 5px solid #ffffff;
    border-top-right-radius: 23px;
}

.home-slider .card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 2;
}

.home-slider .card-content:before {
    content: '';
    position: absolute;
    left: 210px;
    bottom: 25px;
    width: 10px;
    height: 10px;
    border-bottom-left-radius: 10px;
    background-color: red;
}

.home-slider .card-content::before::before {
    content: '';
    position: absolute;
    left: 210px;
    bottom: 25px;
    width: 10px;
    height: 10px;
    background-color: yellow;
}

.home-slider .card-content h2 {
    font-family: 'Marck Script', cursive;
    color: #cf5533;
}

.home-slider .card-content p {
    color: #ffffff;
}

.home-slider .image-content img {
    width: 100%;
    height: calc(100vw / 1.78);
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    color: #cf5533;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 20px;
}

.swiper-pagination-bullet-active {
    background-color: #cf5533;
}
