@import url('https://use.fontawesome.com/releases/v6.4.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.main-header {
    max-height: 6.25rem;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    background-color: #ffffff;
}

.main-header.sticky {
    height: 3.125rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    padding: 0.625rem;
}

.main-header .logo {
    height: 3.125rem;
}

.main-header.sticky .logo {
    height: 1.875rem;
}

.main-header .logo img {
    height: 100%;
}

.main-header nav {
}


.main-header li {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    height: 5rem;
}

.main-header li.menu-btn-small i {
    font-size: 1.5rem;
    color: #cf5533;
}


.side-menu-mobile {
    transition: ease-in-out 400ms;
    position: absolute;
    z-index: 10000;
    width: 16.875rem;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #1b1b1b;
}

.side-menu-mobile.collapse {
    left: -16.875rem;
}

.side-menu-mobile h3 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 4.063rem;
    text-align: center;
    background-color: #2f272a;
    letter-spacing: 0.063rem;
}

.side-menu-mobile ul {
    height: calc(100% - 4.063rem);
    list-style: none;
}

.side-menu-mobile ul li {
    line-height: 3.75rem;
    border-bottom: 0.063rem solid rgb(255, 255, 255, 0.3);
}

.side-menu-mobile ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    padding-left: 2.5rem;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 0.313rem solid transparent;
}

.side-menu-mobile ul li.active a {
    color: #cf5533;
    background-color: #2f272a;
    border-left-color: #cf5533;
}

.side-menu-mobile ul li a span {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.375rem;
}

.side-menu-mobile ul li a.rotate span {
    transform: translateY(-50%) rotate(-180deg);
}

.side-menu-mobile ul ul {
    display: none;
}

.side-menu-mobile ul ul.show {
    display: block;
}

.side-menu-mobile ul ul li {
    line-height: 2.625rem;
    border-bottom: none;
}

.side-menu-mobile ul ul li a {
    font-size: 1.063rem;
    padding-left: 2.5rem;
}

.side-menu-mobile ul li.active ul li a {
    color: #ffffff;
    background-color: #1b1b1b;
    border-left-color: transparent;
}

.side-menu-mobile ul li.active ul li a:before {
    font-family: "Font Awesome 6 Free", serif;
    padding-right: 0.625rem;
}

.side-menu-mobile ul li.active ul li a.upcoming:before {
    content: '\f073';
}

.side-menu-mobile ul li.active ul li a.passed:before {
    content: '\f273';
}


.side-menu-mobile .background {
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.sign-up-for-hike {
    display: grid;
    justify-content: space-evenly;
    row-gap: 0.625rem;
    padding: 1.25rem 0.625rem;
    margin: 1.25rem;
    background-color: #f8f8f8;
    border-radius: 1.25rem;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
}

.sign-up-for-hike h2 {
    text-align: center;
    margin: 0.625rem;
}

.sign-up-for-hike .form-floating {
    width: 75vw;
    background-color: #ffffff;
    position: relative;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
    border-radius: 0.313rem;
}


.sign-up-for-hike .form-floating input {
    width: 100%;
    padding: 0.938rem 1.25rem;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 1rem;
}

.sign-up-for-hike .form-floating input:focus,
.sign-up-for-hike .form-floating input:active {
    color: #1b1b1b;
    border-color: #cf5533;
    box-shadow: 0 0 0 0.125rem rgba(255, 103, 0, 0.5);
    border-radius: 0.313rem;
}

.sign-up-for-hike .form-floating input:focus,
.sign-up-for-hike .form-floating input:valid,
.sign-up-for-hike .form-floating input:active {
    padding-top: 1.563rem;
    padding-bottom: 0.313rem;
}


.sign-up-for-hike .form-floating label {
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0.938rem 1.25rem;
    pointer-events: none;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.sign-up-for-hike .form-floating.numbers .numeric input:focus {
    color: #1b1b1b;
    border-color: transparent;
    padding: 0;
    height: 100%;
    border-top-width: 0.063rem;
    border-bottom-width: 0.063rem;
}

.sign-up-for-hike .form-floating input:focus ~ label, .sign-up-for-hike .form-floating input:valid ~ label {
    color: rgb(0, 0, 0, 0.7);
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.sign-up-for-hike .form-floating.numbers {
    display: flex;
}

.sign-up-for-hike .form-floating.numbers label {
    position: relative;
}

.sign-up-for-hike .form-floating.numbers .numeric {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 47%;
    padding: 0.313rem 0;
}

.sign-up-for-hike .form-floating.numbers .numeric span {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
}

.sign-up-for-hike .form-floating.numbers .numeric span:first-child {
    margin-left: 0.313rem;
    border-radius: 0.313rem 0 0 0.313rem;
}

.sign-up-for-hike .form-floating.numbers .numeric span:last-child {
    margin-right: 0.313rem;
    border-radius: 0 0.313rem 0.313rem 0;
}

/* Chrome, Safari, Edge, Opera */
.sign-up-for-hike .form-floating.numbers .numeric input::-webkit-outer-spin-button,
.sign-up-for-hike .form-floating.numbers .numeric input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.sign-up-for-hike .form-floating.numbers .numeric input[type=number] {
    -moz-appearance: textfield;
}

.sign-up-for-hike .form-floating.numbers .numeric input, .sign-up-for-hike .form-floating.numbers .numeric input:focus {
    text-align: center;
    width: 60%;
    padding: 0;
    height: 100%;
    border: unset;
    border-color: rgb(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0.063rem 0 !important;
    border-radius: 0;
    color: #000000 !important;
}

.sign-up-for-hike .form-floating.chooses {
    display: flex;
    justify-content: space-between;
}

.sign-up-for-hike .form-floating.chooses label {
    position: relative;
    width: 80%;
    padding-right: 0;
}

.sign-up-for-hike .form-floating.chooses select {
    width: 100%;
    background-color: transparent;
    border: none;
    border-left-width: 0.063rem;
    border-left-style: solid;
    border-left-color: rgb(0, 0, 0, 0.2);
    padding-left: 0.625rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sign-up-for-hike .form-floating input[type=radio] {
    width: auto;
}

.sign-up-for-hike .form-floating p {
    padding: 1.25rem 0 0 1.25rem;
}

.sign-up-for-hike .form-floating .wrapper .option {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.313rem;
    cursor: pointer;
    padding: 0.625rem 0.625rem;
    border: 0.125rem solid lightgray;
    transition: all 0.3s ease;
    pointer-events: auto;
}

.sign-up-for-hike .form-floating .wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1.25rem;
    gap: 0.625rem;
}

.sign-up-for-hike .form-floating .wrapper .option .dot {
    height: 1.25rem;
    width: 1.25rem;
    background-color: #cf5533;
    border-radius: 50%;
    position: relative;
    margin-right: 0.625rem;
}

.sign-up-for-hike .form-floating .wrapper .option .dot::before {
    position: absolute;
    content: '';
    top: 0.25rem;
    left: 0.25rem;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #1b1b1b;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

.sign-up-for-hike .form-floating .wrapper input[type=radio] {
    display: none;
}

.sign-up-for-hike .form-floating .wrapper input[type=radio] ~ label {
    transform: unset;
}

#organized-transport:checked:checked ~ .option-1,
#personal-transport:checked:checked ~ .option-2 {
    border-color: #1b1b1b;
    background-color: #cf5533;
}

#organized-transport:checked:checked ~ .option-1 .dot,
#personal-transport:checked:checked ~ .option-2 .dot {
    background-color: white;
}

#organized-transport:checked:checked ~ .option-1 .dot::before,
#personal-transport:checked:checked ~ .option-2 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.sign-up-for-hike .form-floating .wrapper span {
    font-size: 0.875rem;
    color: #808080;
}

#organized-transport:checked:checked ~ .option-1 span,
#personal-transport:checked:checked ~ .option-2 span {
    color: white;
}

.sign-up-for-hike button {
    padding: 0.938rem 3.125rem;
    background-color: #cf5533;
    outline: none;
    border: none;
    border-radius: 1.875rem;
    font-size: 1.125rem;
    color: #ffffff;
}

.form-container {
    padding: 1.25rem
}

.form-container figure {
    margin-bottom: 0.625rem;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
}

.form-container figure img {
    width: 100%;
}

.form-container .fields-form {
    background-color: #f8f8f8;
    border: 0.063rem solid rgb(0, 0, 0, 0.08);
    border-radius: 0.625rem;
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-container .fields-form h2 {
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: 1.7rem;
}

.form-container .fields-form h3 {
    text-align: center;
}

.form-container .fields-form > label,
.form-container .fields-form #image label,
.form-container .fields-form > .field {
    background-color: #ffffff;
    width: 100%;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.625rem;
}

.form-container .fields-form > label select {
    width: 100%;
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    background-color: #ffffff;
    color: #cf5533;
    font-size: 1.2rem;
}

.form-container .fields-form > label span,
.form-container .fields-form #image label span {
    min-width: 4.375rem;
    max-width: 4.375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.form-container .fields-form > label span.file {
    margin-left: 0.2rem;
    background-color: #cf5533;
    padding: 0.4rem 0.6rem;
    text-align: center;
    border-radius: 0.2rem;
    color: #ffffff;
}

.form-container .fields-form .new-image,
.form-container .fields-form #image .new-image {
    max-width: 9.375rem;
    max-height: 9.375rem;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
    padding-top: 0;
}

.form-container .fields-form .new-image #new-picture {
    max-width: 9.375rem;
}

.form-container .fields-form > label i {
    margin-right: 0.313rem;
}


.form-container .fields-form > label input,
.form-container .fields-form > .field input,
.form-container .fields-form > .field textarea {
    border: none;
    outline: none;
    border-bottom: 0.063rem solid rgb(0, 0, 0, 0.2);
    padding: 0.625rem;
    margin-left: 0.625rem;
    width: 100%;
}

.form-container .fields-form > label input,
.form-container .fields-form > label textarea,
.form-container .fields-form > .field input,
.form-container .fields-form > .field textarea {
    font-size: 1rem;
}

.form-container .fields-form > label i:last-child {
    color: #cf5533;
    font-size: 1.5rem;
}

.form-container .fields-form > label input::placeholder {
    max-width: 100%;
    text-overflow: ellipsis;
}

.form-container .fields-form > label[for='id_description'] {
    flex-wrap: wrap;
}

.form-container .fields-form p a {
    text-decoration: none;
    color: #1b1b1b;
}

.form-container .fields-form button {
    margin: 0.625rem 1.25rem;
    width: 8.125rem;
    height: 2.5rem;
    background-color: #cf5533;
    color: #ffffff;
    border: none;
    border-radius: 1.875rem;
    font-size: 1rem;
}

.form-container .fields-form button a {
    text-decoration: none;
    color: inherit;
}

.form-container .fields-form textarea {
    border: none;
    outline: none;
    border-bottom: 0.063rem solid rgb(0, 0, 0, 0.2);
    padding: 0.625rem;
    margin-left: 0.625rem;
    width: 100%;
    resize: vertical;
}

.form-container .fields-form figure img,
.form-container .fields-form .new-image {
    width: 100%;
}

.form-container .fields-form .new-image img {
    width: 100%;
}


.form-container .fields-form button:disabled {
    text-decoration: line-through;
}

.form-container .fields-form small {
    width: 0;
    padding: 0.313rem;
    background-color: #f8d7da;
    border: 0.063rem solid #f1aeb5;
    border-radius: 0.625rem;
    display: none;
    justify-content: center;
    align-content: center;
    margin-bottom: 0.625rem;
    overflow: hidden;
}

.form-container .fields-form small.alert {
    width: 100%;
    display: flex;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.form-container .fields-form .errorlist {
    padding: 0 0.625rem;
    margin-bottom: 0.625rem;
}

.form-container .fields-form .errorlist li {
    list-style: none;
    color: #cf5533;
}

.form-container .fields-form label > div.image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 10.625rem;
    max-height: 10.625rem;
    padding: 0;
}

.form-container .fields-form label > div.image.profile {
    border-radius: 50%;
}

.form-container .fields-form label > div.image img {
    width: 100%;
    transform: translateY(-50%);
    margin-top: 50%;
}

.form-container .fields-form > div.new-picture {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
}

.form-container .fields-form div.buttons {
    flex-wrap: nowrap;
}

.form-container .fields-form div.buttons a {
    text-decoration: none;
    color: #ffffff;
}

.form-container .fields-form label > div {
    display: block;
    text-align: center;
}

.form-container .fields-form label > div.new-picture > p {
    margin-bottom: 0;
    padding-top: 0.625rem;
}

.form-container .fields-form label > div.new-picture > input {
    padding-left: 0;
}

.form-container .fields-form > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.625rem;
    width: 100%;
}

.form-container .fields-form > div > p {
    margin-bottom: 0.625rem;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.form-container .fields-form div p a {
    color: #cf5533;
}

.form-container .fields-form > .field label,
.form-container .fields-form > .field input {
    width: 100%;
}

.form-container .fields-form > .field label {
    margin-left: 0.625rem;
}

.form-container .fields-form > .field input {
    margin-left: 0;
}

.form-container .fields-form > .field input:focus,
.form-container .fields-form > .field input:active,
.form-container .fields-form > .field textarea:focus,
.form-container .fields-form > .field textarea:active {
    border-bottom-color: #cf5533;
}

.form-container .fields-form > .field textarea {
    resize: vertical;
}

.form-container .fields-form > .field select {
    position: relative;
    width: 100%;
    margin: 0.25rem 0;
    padding: 0.4rem;
    background-color: #ffffff;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    color: #1b1b1b;
    font-size: 1rem;
}


.reset-password {
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.reset-password h1 {
    color: #cf5533;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
    font-weight: bolder;
}

.reset-password p {
    font-size: 1.2rem;
}

.form-container .fields-form #password-help-text {
    padding: 0 1rem 1rem;
    list-style: none;
    width: 100%;
}

.form-container .fields-form #password-help-text p {
    padding: 0.4rem;
}

.form-container .fields-form #password-help-text li {
    color: #c41e3d;
    padding: 0.4rem 0 0 1rem;
    display: flex;
    align-items: center;
}

.form-container .fields-form #password-help-text li span {
    margin-left: 0.313rem;
}

.hikes-list,
.hike-detail {
    width: 100%;
    padding: 1rem;
}

.hikes-list .hike,
.hike-detail .hike {
    width: 100%;
    margin-bottom: 1.2rem;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
    border-radius: 0.7rem;
    overflow: hidden;
    position: relative;
}

.hikes-list .hike .hike-header,
.hike-detail .hike h1 {
    background-color: #cf5533;
}

.hikes-list .hike .hike-header h1 {
    padding: 0.2rem 0.5rem;
    text-align: left;
    font-size: 1.5rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
}

.hikes-list .hike .hike-header h1 a,
.hike-detail .hike h1 a {
    color: inherit;
    text-decoration: none;
}

.hikes-list .hike .hike-header p.event-date {
    padding-left: 0.3rem;
    padding-bottom: 0.15rem;
    font-weight: bold;
    text-align: center;
    color: #2f272a;
    font-size: 1.2rem;
}

.hikes-list .hike .hike-header p.event-date > span,
.hikes-list .hike .hike-header p.event-date > i {
    color: #ffe28e;
}

.hikes-list .hike .hike-body {
    display: grid;
    grid-template-areas:
    "img price"
    "img duration"
    "img level"
    "description description";
    grid-template-columns: 60% 40%;
}

.hikes-list .hike .hike-body p {
    margin: 0.2rem 0 0.2rem 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #cf5533;

}

.hikes-list .hike .hike-body p span {
    margin-left: 0.5rem;
    color: #1b1b1b;
}

.hikes-list .hike .hike-body figure {
    grid-area: img;
    height: 8rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hikes-list .hike .hike-body figure img {
    width: 100%;
    object-fit: cover;
}

.hikes-list .hike .hike-body p.duration {
    grid-area: duration;
}

.hikes-list .hike .hike-body p.level {
    grid-area: level;
}

.hikes-list .hike .hike-body p.description {
    grid-area: description;
    overflow: hidden;
    max-height: 4.5rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-weight: normal;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.hikes-list .hike .hike-body p.price {
    grid-area: price;
}

.hikes-list .hike .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
}

.hikes-list .hike .buttons button {
    border: none;
    margin: 0.8rem 0.2rem;
}

.hikes-list .hike .buttons button a,
.hike-detail .hike button,
.form-container button.new-row {
    border-radius: 0.4rem;
    background-color: #cf5533;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
}

.hike-detail .hike h1 {
    padding: 1rem;
    font-size: 1.3rem;
    color: #ffffff;
}

.hike-detail .hike button,
.form-container button.new-row {
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5rem 0;
}

.hike-detail .hike img {
    width: 100%;
}

.hike-detail .hike p {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-bottom: 0.063rem solid rgb(0, 0, 0, 0.3);
}

.hike-detail .hike p:last-child {
    border-bottom: none;
}

.hike-detail .hike p i {
    margin-right: 0.3rem;
    color: #cf5533;
    font-size: 1.4rem;
}

.hike-detail .hike .sign-up-form {
    height: 0;
    display: none;
    transition: ease-in-out 400ms;
    position: relative;
}

.hike-detail .hike .sign-up-form #hide-sign-hike-form {
    position: absolute;
    top: 0.63rem;
    right: 0.63rem;
    font-size: 1.5rem;
    color: #cf5533;
}

.hike-detail .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


.hikes-list .pagination {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.hikes-list .pagination a,
.hike-detail .actions a {
    padding: 0.4rem 0.6rem;
    background-color: #cf5533;
    border-radius: 0.3rem;
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
}

.hikes-list .pagination a,
.hikes-list .pagination span {
    font-size: 1.2rem;
}

.hikes-list .pagination button {
    border: none;
}

/*.hike-detail .hike .sign-up-form {*/


.m0 {
    margin: 0;
}

.br0 {
    border-radius: 0;
}

.b-bottom {
    border: none;
    border-bottom: 0.063rem solid rgb(0, 0, 0, 0.2);
}