@import url('https://use.fontawesome.com/releases/v6.4.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    height: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100vh;
    height: -webkit-fill-available;
}

.body-freeze {
    overflow: hidden;
    height: 100vh;
    height: -webkit-fill-available;
    box-sizing: border-box;
}

.main-header {
    max-height: 6.25rem;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    background-color: #ffffff;
}

.main-header.sticky {
    height: 3.125rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    padding: 0.625rem;
}

.main-header .logo {
    height: 3.125rem;
}

.main-header.sticky .logo {
    height: 1.875rem;
}

.main-header .logo img {
    height: 100%;
}

.main-header nav {
}


.main-header li {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    height: 5rem;
}

.main-header li.menu-btn-small i {
    font-size: 1.5rem;
    color: #cf5533;
}

.main-header nav .main-menu {
    display: none;
}


.side-menu-mobile {
    transition: ease-in-out 400ms;
    position: absolute;
    z-index: 10000;
    width: 16.875rem;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #1b1b1b;
}

.side-menu-mobile.collapse {
    left: -16.875rem;
}

.side-menu-mobile h3 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 4.063rem;
    text-align: center;
    background-color: #2f272a;
    letter-spacing: 0.063rem;
}

.side-menu-mobile ul {
    height: calc(100% - 4.063rem);
    list-style: none;
}

.side-menu-mobile ul li {
    line-height: 3.75rem;
    border-bottom: 0.063rem solid rgb(255, 255, 255, 0.3);
}

.side-menu-mobile ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    padding-left: 2.5rem;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 0.313rem solid transparent;
}

.side-menu-mobile ul li.active a {
    color: #cf5533;
    background-color: #2f272a;
    border-left-color: #cf5533;
}

.side-menu-mobile ul li a span {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.375rem;
}

.side-menu-mobile ul li a.rotate span {
    transform: translateY(-50%) rotate(-180deg);
}

.side-menu-mobile ul ul {
    display: none;
}

.side-menu-mobile ul ul.show {
    display: block;
}

.side-menu-mobile ul ul li {
    line-height: 2.625rem;
    border-bottom: none;
}

.side-menu-mobile ul ul li a {
    font-size: 1.063rem;
    padding-left: 2.5rem;
}

.side-menu-mobile ul ul ul li a {
    padding-left: 4rem;
}

.side-menu-mobile ul li.active ul li a {
    color: #ffffff;
    background-color: #1b1b1b;
    border-left-color: transparent;
}

.side-menu-mobile ul li.active ul li a:before {
    font-family: "Font Awesome 6 Free", serif;
    padding-right: 0.625rem;
}

.side-menu-mobile ul li.active ul li a.upcoming:before {
    content: '\f073';
}

.side-menu-mobile ul li.active ul li a.passed:before {
    content: '\f273';
}


.side-menu-mobile .background {
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#hike-modal.active {
    height: 100vh;
    display: flex;
    overflow: scroll;
    padding-top: 100px;
}

#hike-modal {
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: visible;
}

.sign-up-for-hike {
    display: grid;
    justify-content: space-evenly;
    row-gap: 0.625rem;
    padding: 1.25rem 0.625rem;
    margin: 1.25rem;
    background-color: #f8f8f8;
    border-radius: 1.25rem;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
    position: relative;
}

.sign-up-for-hike #hide-sign-hike-form {
    position: absolute;
    top: 0.63rem;
    right: 0.63rem;
    font-size: 1.5rem;
    color: #cf5533;
}

.sign-up-for-hike h2 {
    text-align: center;
    margin: 0.625rem;
}

.sign-up-for-hike .form-floating {
    /*width: 75vw;*/
    background-color: #ffffff;
    position: relative;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
    border-radius: 0.313rem;
}


.sign-up-for-hike .form-floating input {
    width: 100%;
    padding: 0.938rem 1.25rem;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 1rem;
}

.sign-up-for-hike .form-floating input:focus,
.sign-up-for-hike .form-floating input:active {
    color: #1b1b1b;
    border-color: #cf5533;
    box-shadow: 0 0 0 0.125rem rgba(255, 103, 0, 0.5);
    border-radius: 0.313rem;
}

.sign-up-for-hike .form-floating input:focus,
.sign-up-for-hike .form-floating input:valid,
.sign-up-for-hike .form-floating input:active {
    padding-top: 1.563rem;
    padding-bottom: 0.313rem;
}


.sign-up-for-hike .form-floating label {
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0.938rem 1.25rem;
    pointer-events: none;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.sign-up-for-hike .form-floating.numbers .numeric input:focus {
    color: #1b1b1b;
    border-color: transparent;
    padding: 0;
    height: 100%;
    border-top-width: 0.063rem;
    border-bottom-width: 0.063rem;
}

.sign-up-for-hike .form-floating input:valid ~ label,
.sign-up-for-hike .form-floating input:focus ~ label {
    color: rgb(0, 0, 0, 0.7);
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.sign-up-for-hike .form-floating.numbers {
    display: flex;
    justify-content: space-between;
}

.sign-up-for-hike .form-floating.numbers label {
    position: relative;
    max-width: 150px;
}

.sign-up-for-hike .form-floating.numbers .numeric {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 47%;
    padding: 0.313rem 0;
}

.sign-up-for-hike .form-floating.numbers .numeric span {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
}

.sign-up-for-hike .form-floating.numbers .numeric span:first-child {
    margin-left: 0.313rem;
    border-radius: 0.313rem 0 0 0.313rem;
}

.sign-up-for-hike .form-floating.numbers .numeric span:last-child {
    margin-right: 0.313rem;
    border-radius: 0 0.313rem 0.313rem 0;
}

/* Chrome, Safari, Edge, Opera */
.sign-up-for-hike .form-floating.numbers .numeric input::-webkit-outer-spin-button,
.sign-up-for-hike .form-floating.numbers .numeric input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.sign-up-for-hike .form-floating.numbers .numeric input[type=number] {
    -moz-appearance: textfield;
}

.sign-up-for-hike .form-floating.numbers .numeric input,
.sign-up-for-hike .form-floating.numbers .numeric input:focus {
    text-align: center;
    width: 60%;
    padding: 0;
    height: 100%;
    border: unset;
    border-color: rgb(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0.063rem 0 !important;
    border-radius: 0;
    color: #000000 !important;
}

.sign-up-for-hike .form-floating.chooses {
    display: flex;
    justify-content: space-between;
}

.sign-up-for-hike .form-floating.chooses label {
    position: relative;
    width: 80%;
    padding-right: 0;
}

.sign-up-for-hike .form-floating.chooses select {
    width: 100%;
    background-color: transparent;
    border: none;
    border-left-width: 0.063rem;
    border-left-style: solid;
    border-left-color: rgb(0, 0, 0, 0.2);
    padding-left: 0.625rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sign-up-for-hike .form-floating.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sign-up-for-hike .form-floating.registration > input[type=checkbox] ~ label {
    position: relative;
    font-size: 1rem;
    pointer-events: auto;
    transform: unset;
    display: flex;
    align-items: center;
}

.sign-up-for-hike .form-floating.registration > input {
    display: none;
}

.sign-up-for-hike .form-floating#user-info {
    display: none;
}

.sign-up-for-hike .form-floating.registration > input[type=checkbox] + label:before {
    content: '\f057';
    font-family: "Font Awesome 6 Free", serif;
    color: #cf5533;
    margin-right: 0.625rem;
    font-size: 1.5rem;
    position: relative;
}

.sign-up-for-hike .form-floating.registration > input[type=checkbox]:checked + label:before {
    content: '\f058';
}

.sign-up-for-hike #user-info .form-floating {
    margin-bottom: 0.625rem;
}

.sign-up-for-hike .form-floating input[type=radio] {
    width: auto;
}

.sign-up-for-hike .form-floating p {
    padding: 1.25rem 0 0 1.25rem;
}

.sign-up-for-hike .form-floating .wrapper .option {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.313rem;
    cursor: pointer;
    padding: 0.625rem 0.625rem;
    border: 0.125rem solid lightgray;
    transition: all 0.3s ease;
    pointer-events: auto;
}

.sign-up-for-hike .form-floating .wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1.25rem;
    gap: 0.625rem;
}

.sign-up-for-hike .form-floating .wrapper .option .dot {
    height: 1.25rem;
    width: 1.25rem;
    background-color: #cf5533;
    border-radius: 50%;
    position: relative;
    margin-right: 0.625rem;
}

.sign-up-for-hike .form-floating .wrapper .option .dot::before {
    position: absolute;
    content: '';
    top: 0.25rem;
    left: 0.25rem;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #1b1b1b;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

.sign-up-for-hike .form-floating .wrapper input[type=radio] {
    display: none;
}

.sign-up-for-hike .form-floating .wrapper input[type=radio] ~ label {
    transform: unset;
}

#organized-transport:checked:checked ~ .option-1,
#personal-transport:checked:checked ~ .option-2 {
    border-color: #1b1b1b;
    background-color: #cf5533;
}

#organized-transport:checked:checked ~ .option-1 .dot,
#personal-transport:checked:checked ~ .option-2 .dot {
    background-color: white;
}

#organized-transport:checked:checked ~ .option-1 .dot::before,
#personal-transport:checked:checked ~ .option-2 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.sign-up-for-hike .form-floating .wrapper span {
    font-size: 0.875rem;
    color: #808080;
}

#organized-transport:checked:checked ~ .option-1 span,
#personal-transport:checked:checked ~ .option-2 span {
    color: white;
}

.sign-up-for-hike button {
    padding: 0.938rem 3.125rem;
    background-color: #cf5533;
    outline: none;
    border: none;
    border-radius: 1.875rem;
    font-size: 1.125rem;
    color: #ffffff;
}

.form-container {
    padding: 1.25rem
}

.form-container figure {
    margin-bottom: 0.625rem;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
}

.form-container figure img {
    width: 100%;
}

.form-container .fields-form {
    background-color: #f8f8f8;
    border: 0.063rem solid rgb(0, 0, 0, 0.08);
    border-radius: 0.625rem;
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-container .fields-form h2 {
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: 1.7rem;
}

.form-container .fields-form h3 {
    text-align: center;
}

.form-container .fields-form > label,
.form-container .fields-form #image label,
.form-container .fields-form > .field {
    background-color: #ffffff;
    width: 100%;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.625rem;
}

.form-container .fields-form > label select {
    width: 100%;
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    background-color: #ffffff;
    color: #cf5533;
    font-size: 1.2rem;
}

.form-container .fields-form > label span,
.form-container .fields-form #image label span {
    min-width: 4.375rem;
    max-width: 4.375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.form-container .fields-form > label span.file {
    margin-left: 0.2rem;
    background-color: #cf5533;
    padding: 0.4rem 0.6rem;
    text-align: center;
    border-radius: 0.2rem;
    color: #ffffff;
}

.form-container .fields-form .new-image,
.form-container .fields-form #image .new-image {
    max-width: 9.375rem;
    max-height: 9.375rem;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
    padding-top: 0;
}

.form-container .fields-form .new-image #new-picture {
    max-width: 9.375rem;
}

.form-container .fields-form > label i {
    margin-right: 0.313rem;
}


.form-container .fields-form > label input,
.form-container .fields-form > .field input,
.form-container .fields-form > .field textarea {
    border: none;
    outline: none;
    border-bottom: 0.063rem solid rgb(0, 0, 0, 0.2);
    padding: 0.625rem;
    margin-left: 0.625rem;
    width: 100%;
}

.form-container .fields-form > label input,
.form-container .fields-form > label textarea,
.form-container .fields-form > .field input,
.form-container .fields-form > .field textarea {
    font-size: 1rem;
}

.form-container .fields-form > label i:last-child {
    color: #cf5533;
    font-size: 1.5rem;
}

.form-container .fields-form > label input::placeholder {
    max-width: 100%;
    text-overflow: ellipsis;
}

.form-container .fields-form > label[for='id_description'] {
    flex-wrap: wrap;
}

.form-container .fields-form p a {
    text-decoration: none;
    color: #1b1b1b;
}

.form-container .fields-form .buttons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.form-container .fields-form button,
.form-container .fields-form .buttons button {
    margin: 0.625rem auto;
    width: 8.125rem;
    height: 2.5rem;
    background-color: #cf5533;
    color: #ffffff;
    border: none;
    border-radius: 1.875rem;
    font-size: 1rem;
}

.form-container .fields-form .buttons button a {
    text-decoration: none;
    color: inherit;
}

.form-container .fields-form textarea {
    border: none;
    outline: none;
    border-bottom: 0.063rem solid rgb(0, 0, 0, 0.2);
    padding: 0.625rem;
    margin-left: 0.625rem;
    width: 100%;
    resize: vertical;
}

.form-container .fields-form figure img,
.form-container .fields-form .new-image {
    width: 100%;
}

.form-container .fields-form .new-image img {
    width: 100%;
}


.form-container .fields-form button:disabled {
    text-decoration: line-through;
}

.form-container .fields-form small {
    width: 0;
    padding: 0.313rem;
    border-radius: 0.625rem;
    display: none;
    justify-content: center;
    align-content: center;
    margin-bottom: 0.625rem;
    overflow: hidden;
    border-width: 0.063rem;
    border-style: solid;
}

.form-container .fields-form ul.messages {
    margin-top: 0.625rem;
    padding: 0.625rem;
    padding-bottom: 0;
    border-radius: 0.625rem;
    background-color: #f8d7da;
    border-color: #f1aeb5;
}

.form-container .fields-form ul.messages li {
    text-indent: 1rem;
    list-style: none;
    margin-bottom: 0.625rem;
}

.form-container .fields-form ul.messages li:not(:first-child) {
    padding-top: 0.625rem;
    border-top: 0.0625rem solid rgb(0, 0, 0, 0.6);
}

.form-container .fields-form small.alert {
    width: 100%;
    display: flex;
    background-color: #f8d7da;
    border-color: #f1aeb5;
}

.form-container .fields-form small.success {
    width: 100%;
    display: flex;
    background-color: #d1e7dd;
    color: #0a3622;
    border-color: #a3cfbb;
}

.sign-up-for-hike ul.errorlist,
.form-container .fields-form .errorlist {
    padding: 0 0.625rem;
    margin-bottom: 0.625rem;
}

.sign-up-for-hike ul.errorlist li,
.form-container .fields-form .errorlist li {
    list-style: none;
    color: #cf5533;
}

.form-container .fields-form label > div.image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 10.625rem;
    max-height: 10.625rem;
    padding: 0;
}

.form-container .fields-form label > div.image.profile {
    border-radius: 50%;
}

.form-container .fields-form label > div.image img {
    width: 100%;
    transform: translateY(-50%);
    margin-top: 50%;
}

.form-container .fields-form > div.new-picture {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
}

.form-container .fields-form div.buttons {
    flex-wrap: nowrap;
}

.form-container .fields-form div.buttons a {
    text-decoration: none;
    color: #ffffff;
}

.form-container .fields-form label > div {
    display: block;
    text-align: center;
}

.form-container .fields-form label > div.new-picture > p {
    margin-bottom: 0;
    padding-top: 0.625rem;
}

.form-container .fields-form label > div.new-picture > input {
    padding-left: 0;
}

.form-container .fields-form > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.625rem;
    width: 100%;
}

.form-container .fields-form > div > p {
    margin-bottom: 0.625rem;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.form-container .fields-form div p a {
    color: #cf5533;
}

.form-container .fields-form > .field label,
.form-container .fields-form > .field input {
    width: 100%;
}

.form-container .fields-form > .field label {
    margin-left: 0.625rem;
}

.form-container .fields-form > .field input {
    margin-left: 0;
}

.form-container .fields-form > .field input:focus,
.form-container .fields-form > .field input:active,
.form-container .fields-form > .field textarea:focus,
.form-container .fields-form > .field textarea:active {
    border-bottom-color: #cf5533;
}

.form-container .fields-form > .field textarea {
    resize: vertical;
}

.form-container .fields-form > .field select {
    position: relative;
    width: 100%;
    margin: 0.25rem 0;
    padding: 0.4rem;
    background-color: #ffffff;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    color: #1b1b1b;
    font-size: 1rem;
}


.reset-password {
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.reset-password h1 {
    color: #cf5533;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
    font-weight: bolder;
}

.reset-password p {
    font-size: 1.2rem;
}

.form-container .fields-form #password-help-text {
    padding: 0 1rem 1rem;
    list-style: none;
    width: 100%;
}

.form-container .fields-form #password-help-text p {
    padding: 0.4rem;
}

.form-container .fields-form #password-help-text li {
    color: #c41e3d;
    padding: 0.4rem 0 0 1rem;
    display: flex;
    align-items: center;
}

.form-container .fields-form #password-help-text li span {
    margin-left: 0.313rem;
}

.hikes-list,
.hike-detail {
    width: 100%;
    padding: 1rem;
}

.hikes-list .hike,
.hike-detail .hike {
    width: 100%;
    margin-bottom: 1.2rem;
    border: 0.063rem solid rgb(0, 0, 0, 0.2);
    border-radius: 0.7rem;
    overflow: hidden;
    position: relative;
}

.hikes-list .hike .hike-header,
.hike-detail .hike h1 {
    background-color: #cf5533;
}

.hikes-list .hike .hike-header h1 {
    padding: 0.2rem 0.5rem;
    text-align: left;
    font-size: 1.5rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
}

.hikes-list .hike .hike-header h1 a,
.hike-detail .hike h1 a {
    color: inherit;
    text-decoration: none;
}

.hikes-list .hike .hike-header p.event-date {
    padding-left: 0.3rem;
    padding-bottom: 0.15rem;
    font-weight: bold;
    text-align: center;
    color: #2f272a;
    font-size: 1.2rem;
}

.hikes-list .hike .hike-header p.event-date > span,
.hikes-list .hike .hike-header p.event-date > i {
    color: #ffe28e;
}

.hikes-list .hike .hike-body {
    display: grid;
    grid-template-areas:
    "img img"
    "img img"
    "type price"
    "level duration";
    grid-template-columns: 60% 40%;
}

.hikes-list .hike .hike-body p {
    margin: 0.2rem 0 0.2rem 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #cf5533;

}

.hikes-list .hike .hike-body p span {
    margin-left: 0.5rem;
    color: #1b1b1b;
}

.hikes-list .hike .hike-body figure {
    grid-area: img;
    height: 12rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hikes-list .hike .hike-body figure img {
    width: 100%;
    object-fit: cover;
}

.hikes-list .hike .hike-body p.duration {
    grid-area: duration;
}

.hikes-list .hike .hike-body p.level {
    grid-area: level;
}

.hikes-list .hike .hike-body p.type {
    grid-area: type;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}

.hikes-list .hike .more-pictures .swiper-wrapper {
    padding-bottom: 1.2rem;
    margin-top: 0.625rem;
}

.hikes-list .hike .more-pictures .swiper-wrapper .swiper-pagination-bullet-active {
    background-color: #cf5533;
}

.hikes-list .hike .more-pictures .swiper-wrapper .swiper-pagination {
    bottom: 0;
}

.hikes-list .hike .more-pictures .swiper-wrapper .swiper-slide img {
    width: 100%;
}

.hikes-list .hike p.description {
    padding: 0 0.625rem;
    overflow: hidden;
    max-height: 4.5rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-weight: normal;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.hikes-list .hike .hike-body p.price {
    grid-area: price;
}

.hikes-list .hike .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
}

.hikes-list .hike .buttons button {
    border: none;
    margin: 0.8rem 0.2rem;
}

.hikes-list .hike .buttons button a,
.hike-detail .hike button,
.form-container button.new-row {
    border-radius: 0.4rem;
    background-color: #cf5533;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
}

.hike-detail .hike h1 {
    padding: 1rem;
    font-size: 1.3rem;
    color: #ffffff;
}

.hike-detail .hike button,
.form-container button.new-row {
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5rem 0;
}

.hike-detail .hike img {
    width: 100%;
}

.hike-detail .hike p {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-bottom: 0.063rem solid rgb(0, 0, 0, 0.3);
}

.hike-detail .hike p:last-child {
    border-bottom: none;
}

.hike-detail .hike p i {
    margin-right: 0.3rem;
    color: #cf5533;
    font-size: 1.4rem;
}

.hike-detail .hike .sign-up-form {
    height: 0;
    display: none;
    transition: ease-in-out 400ms;
    position: relative;
}

.hike-detail .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


.site-evaluation .pagination,
.hikes-list .pagination {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.site-evaluation .pagination a,
.site-evaluation .pagination span,
.hikes-list .pagination a,
.hike-detail .actions a {
    padding: 0.4rem 0.6rem;
    background-color: #cf5533;
    border-radius: 0.3rem;
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
}

.site-evaluation .pagination a,
.site-evaluation .pagination span,
.hikes-list .pagination a,
.hikes-list .pagination span {
    font-size: 1.2rem;
}

.site-evaluation .pagination button,
.hikes-list .pagination button {
    border: none;
}

.hike-types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.hike-types h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.hike-types ul {
    border: 0.0625rem solid rgb(0, 0, 0, 0.2);
    border-radius: 0.625rem;
    overflow: hidden;
    margin-bottom: 1rem;
    width: 100%;
}

.hike-types ul li {
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.hike-types ul li:nth-child(even) {
    background-color: #e5e5e5;
}

.hike-types ul li span {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}

.hike-types ul li .buttons {
    width: 100%;
    padding: 0.8rem 0.8rem 0 0.8rem;
    display: flex;
    justify-content: space-around;
}

.hike-types ul li a {
    text-decoration: none;
    background-color: #cf5533;
    color: #ffffff;
    font-weight: bold;
    padding: 0.4rem 0.625rem;
    border-radius: 0.625rem;
}

.hike-types button {
    padding: 0.625rem 1rem;
    border-radius: 0.625rem;
    background-color: #cf5533;
    border: none;
}

.hike-types button a {
    text-decoration: none;
    color: #ffffff;
}

.signed-for-hike {
    width: 100%;
    padding: 1.2rem;
}

.signed-for-hike h1 {
    text-align: center;
    margin-bottom: 20px;
}

.signed-for-hike table {
    border: 0.065rem solid rgb(0, 0, 0, 0.5);
    border-radius: 0.65rem;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
}

.signed-for-hike table thead tr,
.signed-for-hike table tbody tr {
    display: grid;
    grid-template-columns:repeat(3, minmax(50px, 1fr));
}

.signed-for-hike table thead tr td,
.signed-for-hike table tbody tr td {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signed-for-hike table thead tr td:nth-child(1),
.signed-for-hike table thead tr td:nth-child(4),
.signed-for-hike table thead tr td:nth-child(5),
.signed-for-hike table thead tr td:nth-child(7),
.signed-for-hike table tbody tr td:nth-child(1),
.signed-for-hike table tbody tr td:nth-child(4),
.signed-for-hike table tbody tr td:nth-child(5),
.signed-for-hike table tbody tr td:nth-child(7) {
    display: none;
}

.signed-for-hike table thead {
    background-color: #BBBBBB2B;
}

.signed-for-hike table thead td {
    border-bottom: 0.065rem solid rgb(0, 0, 0, 0.5);
    padding: 0.2rem;
}

.signed-for-hike table thead td:not(:nth-child(2)) {
    border-left: 0.065rem solid rgb(0, 0, 0, 0.5);
}

.signed-for-hike table tbody tr:nth-child(even) {
    background-color: #BBBBBB2B;
}


.signed-for-hike table tbody tr td {
    text-align: center;
    padding: 0.2rem;
    position: relative;
}

.signed-for-hike table tbody tr:not(:last-child) td {
    border-bottom: 0.065rem solid rgb(0, 0, 0, 0.5);
}

.signed-for-hike table tbody tr td:not(:nth-child(2)) {
    border-left: 0.065rem solid rgb(0, 0, 0, 0.5);
}

.signed-for-hike table tbody tr td a[href^=tel] {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
}

.signed-for-hike table tbody tr td > ul i {
    color: #cf5533;
    font-size: inherit;
}

.signed-for-hike table tbody tr td ul ul,
.signed-for-hike table tbody tr td ul ul li {
    display: none;
}

.signed-for-hike table tbody tr td ul.show {
    position: relative;
}

.signed-for-hike table tbody tr td ul.show > ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2;
}

.signed-for-hike table tbody tr td ul.show > ul li {
    display: flex;
    align-items: center;
    width: 300px;
    text-align: left;
}

.signed-for-hike table tbody tr td ul.show > ul li:not(:last-child) {
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}

.signed-for-hike table tbody tr td ul.show > ul li a {
    text-decoration: none;
    color: #000000;
    width: 100%;
    padding: 10px 5px;
}

.signed-for-hike table tbody tr td ul.show > ul li i {
    font-size: 1.3rem;
    margin-right: 5px;
}

.signed-for-hike table tbody tr td ul.show ul li.edit i {
    color: #cf5533;
}

.signed-for-hike table tbody tr td ul.show ul li.successful i {
    color: #1fae51;
}

.signed-for-hike table tbody tr td ul.show ul li.unsuccessful i {
    color: #d72503;
}

.signed-for-hike table tbody tr.empty {
    display: grid;
    grid-template-columns: 1fr;
}

.signed-for-hike table tbody tr.empty td:not(:first-child) {
    border: none;
}

.all-recorded-result {
    display: flex;
    justify-content: center;
}

.all-recorded-result ul li {
    list-style: none;
    font-size: 1.4rem;
    padding: 10px;
}

.all-recorded-result ul li span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.all-recorded-result ul > li:not(:last-child) {
    border-bottom: 1px solid rgb(0, 0, 0, 1);

}

.all-recorded-result ul li i {
    color: #cf5533;
}

.all-recorded-result ul li > ul li:not(:last-child),
.all-recorded-result ul li > ul li {
    text-indent: 30px;
    padding: 5px;
    border-bottom: none;
}


.m0 {
    margin: 0;
}

.br0 {
    border-radius: 0;
}

.b-bottom {
    border: none;
    border-bottom: 0.063rem solid rgb(0, 0, 0, 0.2);
}

.slider-list {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.slider-list > h1 {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    background-color: #cf5533;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px 20px 5px 5px;
}

.slider-list .objects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.slider-list .objects div {
    width: 100%;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.slider-list .objects div figure {
    --width: 385px;
    grid-area: img;
    max-width: var(--width);
    height: calc((9 / 16) * var(--width));
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-list .objects div figure img {
    height: 100%;

}

.slider-list .objects div h1 {
    background-color: #cf5533;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.slider-list .objects div .buttons {
    border: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 10px 0;
}

.slider-list button a,
.slider-list .objects div .buttons a {
    padding: 10px;
    background-color: #cf5533;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
}

.slider-list .objects div .buttons a i {
    font-size: 1.2rem;
}

.slider-list button {
    margin-top: 20px;
    border: none;
}

.site-evaluation {
    margin: 0.65rem;
    padding: 0.65rem;
    border-radius: 0.65rem;
}

.site-evaluation form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.site-evaluation h1 {
    color: #cf5533;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.site-evaluation > form > label {
    color: #cf5533;
    font-size: 1.3rem;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.site-evaluation > form > textarea {
    border: 1px solid #cf5533;
    outline: none;
}

.site-evaluation > form > textarea:focus-visible {
    color: #1b1b1b;
    box-shadow: 0 0 0 0.125rem rgba(255, 103, 0, 0.5);
    border-radius: 0.313rem;
}

.site-evaluation > form > .errorlist {
    padding: 10px;
    background-color: #f8d7da;
    border-color: #f1aeb5;
    border-radius: 10px;
}

.site-evaluation .errorlist li {
    list-style: none;
    text-indent: 30px;
}

.site-evaluation .errorlist li:not(:last-child) {
    margin-bottom: 10px;
}

.site-evaluation ul {
    margin-bottom: 10px;
}

.site-evaluation ul li {
    list-style: none;
    display: grid;
    border: 1px solid rgb(0, 0, 0, 0.2);
    overflow: hidden;
}

.site-evaluation ul li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.site-evaluation ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.site-evaluation ul li:nth-child(even) {
    background-color: #c1c1c1;
}

.site-evaluation ul li span:first-child {
    background-color: #cf5533;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
}

.site-evaluation ul li span {
    padding: 10px;
}

.site-evaluation .average-grade {
    margin-top: 20px;
    background-color: #cf5533;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 10px;
    text-align: center;
}


.site-evaluation button {
    margin-top: 20px;
}

.site-evaluation button:nth-child(even) {
    margin-left: 20px;
}

.site-evaluation button a {
    text-decoration: none;
    color: inherit;
}

.site-evaluation #id_assessment {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    margin: 10px 0;
}

.site-evaluation #id_assessment div {
    margin: 0.65rem;
}

.site-evaluation #id_assessment input[type=radio] {
    display: none;
}

.site-evaluation #id_assessment label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0.65rem;
    width: 3rem;
    height: 3rem;
    border: 0.15rem solid #cf5533;
    border-radius: 0.5rem;
    color: #1b1b1b;
}

.site-evaluation textarea {
    width: 100%;
}

.site-evaluation button {
    background-color: #cf5533;
    color: #ffffff;
    border: none;
    border-radius: 1.65rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
}

footer {
    background-color: #cf5533;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    z-index: 2;
}

footer .logo {
    max-width: 300px;
    width: 70%;
    margin: auto;
}

footer ul {
    margin: auto;
}

footer ul p {
    font-size: 1.5rem;
    text-align: center;
}

footer ul li {
    list-style: none;
    margin: 10px 0;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}


@media only screen and (width > 480px ) {

    .hikes-list .hike .hike-body {
        grid-template-areas:
    "img price"
    "img type"
    "img level"
    "img duration";
    }


    .signed-for-hike table thead tr,
    .signed-for-hike table tbody tr {
        grid-template-columns: 30px repeat(5, 1fr) 50px;
    }

    .signed-for-hike table thead tr td:nth-child(1),
    .signed-for-hike table thead tr td:nth-child(4),
    .signed-for-hike table thead tr td:nth-child(5),
    .signed-for-hike table thead tr td:nth-child(7),
    .signed-for-hike table tbody tr td:nth-child(1),
    .signed-for-hike table tbody tr td:nth-child(4),
    .signed-for-hike table tbody tr td:nth-child(5),
    .signed-for-hike table tbody tr td:nth-child(7) {
        display: flex;
    }

    .signed-for-hike table thead tr td:first-child {
        border-left: none;
    }

    .signed-for-hike table thead td:not(:first-child) {
        border-left: 0.065rem solid rgb(0, 0, 0, 0.5);
    }

    .signed-for-hike table tbody tr td:first-child {
        border-left: none;
    }

    .signed-for-hike table tbody tr td:not(:first-child) {
        border-left: 0.065rem solid rgb(0, 0, 0, 0.5);
    }

    .sign-up-for-hike {
        grid-column-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header header"
            "first-name last-name"
            "phone-number choose-hike"
            "adults-numbers children-numbers"
            "travel-with registration"
            "sing-me-up sing-me-up"
            "button button";
    }

    .sign-up-for-hike h2 {
        grid-area: header;
    }

    .sign-up-for-hike .form-floating input[name=first_name] {
        grid-area: first-name;
    }

    .sign-up-for-hike .form-floating input[name=last_name] {
        grid-area: last-name;
    }

    .sign-up-for-hike .form-floating input[name=phone_number] {
        grid-area: phone-number;
    }

    .sign-up-for-hike .form-floating.chooses {
        grid-area: choose-hike;
    }

    .sign-up-for-hike .form-floating.numbers:first-child {
        grid-area: adults-numbers;
    }

    .sign-up-for-hike .form-floating.numbers:last-child {
        grid-area: children-numbers;
    }

    .sign-up-for-hike .form-floating .wrapper {
        grid-area: travel-with;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sign-up-for-hike .form-floating.registration {
        grid-area: registration;
    }

    .sign-up-for-hike .form-floating[datatype=email] {
        grid-area: sing-me-up;
    }

    .sign-up-for-hike button {
        grid-area: button;
    }

    .hike-types ul li {
        align-items: center;
        flex-wrap: nowrap;
    }

    .hike-types ul li span {
        margin-left: 20px;
        text-align: start;
    }

    .hike-types ul li .buttons {
        padding: 0 10px;
    }

    .form-container .fields-form .buttons {
        grid-template-columns: repeat(3, 1fr);
    }

    .slider-list .objects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .site-evaluation {
        max-width: 600px;
        margin: auto;
    }

}

@media only screen and (width > 767px ) {

    .sign-up-for-hike {
        margin: 0 auto;
        max-width: 800px;
        grid-column-gap: unset;
        grid-template-areas:
            "header"
           "first-name"
            "last-name"
           "phone-number"
            "choose-hike"
           "adults-numbers"
            "children-numbers"
           "travel-with"
            "registration"
           "sing-me-up"
           "button";
        grid-template-columns: 1fr;
    }

    .sign-up-for-hike .form-floating.numbers .numeric {
        width: auto;
    }

    .form-container .fields-form .buttons {
        grid-template-columns: repeat(4, 1fr);
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media only screen and (width > 1023px ) {

    .hikes-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }

    .signed-for-hike {
        grid-column-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header header"
            "first-name last-name"
            "phone-number choose-hike"
            "adults-numbers children-numbers"
            "travel-with registration"
            "sing-me-up sing-me-up"
            "button button";
    }

    .slider-list .objects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .signed-for-hike {
        max-width: 1000px;
        margin: auto;
    }

    footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        position: sticky;
        bottom: 0;
        width: 100%;
    }

}

@media only screen and (width > 1200px ) {
    .main-header nav .menu-wrapper {
        display: none;
    }

    .main-header nav .main-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main-header nav .main-menu > li {
        font-size: 1.2rem;
        padding: 10px;
        position: relative;
    }

    .main-header nav .main-menu > li a {
        color: #1b1b1b;
        text-decoration: none;
        width: 100%;
    }

    .main-header nav .main-menu > li:hover {
        height: 35px;
        border-bottom: 1px solid #1b1b1b;
    }

    .main-header nav .main-menu li > ul {
        display: none;
    }

    .main-header nav .main-menu > li:hover > ul {
        display: grid;
        background-color: #ffffff;
        border: 1px solid #1b1b1b;
        border-radius: 5px;
        right: 0;
        position: absolute;
        top: 50px;
        z-index: 2;
    }

    .main-header nav .main-menu > li:hover > ul a {
        text-align: center;
    }

    .main-header nav .main-menu > li:hover > ul a:hover {
        color: #cf5533;
        border-bottom: 1px solid #cf5533;
    }

    .main-header nav .main-menu > li:hover > ul li {
        height: auto;
        padding: 10px 15px;
        position: relative;
        display: grid;
    }

    .main-header nav .main-menu > li > ul li:hover > ul {
        display: grid;
        margin: 10px;
        position: absolute;
        left: calc(100% - 10px);
        top: 0;
        background-color: #ffffff;
        border: 1px solid #1b1b1b;
        border-radius: 0 5px 5px 5px;
    }

    .form-container {
        margin: auto;
        max-width: 600px;
    }

    .hikes-list,
    .hike-detail {
        margin: auto;
        max-width: 1200px;
    }

    .hikes-list .hike .hike-body {
        grid-template-areas:
        "img price"
        "img type"
        "img level"
        "img duration"
        "img more-picture";
    }

    .hikes-list .hike .more-pictures {
        grid-area: more-picture;
        width: 100%;
    }

    .hikes-list .hike .more-pictures .swiper-wrapper .swiper-slide img {
        max-height: 50px;
        width: auto;
    }

    .hike-types ul li .buttons {
        width: auto;
    }

    .hike-types ul li .buttons a {
        margin-right: 10px;
    }

    .hike-detail .hike {
        display: grid;
        grid-template-areas:
        "title title"
        "main-img date"
        "main-img price"
        "main-img duration"
        "main-img level"
        "main-img type"
        "main-img more-pictures"
        "description description";
        grid-template-columns: 60% 40%;
    }

    .hike-detail .hike h1 {
        grid-area: title;
        width: 100%;
    }

    .hike-detail .hike #main-picture {
        grid-area: main-img;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hike-detail .hike #more-pictures {
        grid-area: more-pictures;
        width: 100%;
    }

    .hike-detail .hike #date {
        grid-area: date;
    }

    .hike-detail .hike #price {
        grid-area: price;
    }

    .hike-detail .hike #duration {
        grid-area: duration;
    }

    .hike-detail .hike #level {
        grid-area: level;
    }

    .hike-detail .hike #type {
        grid-area: type;
    }

    .hike-detail .hike #description {
        grid-area: description;
    }

    .slider-list {
        max-width: 1200px;
        margin: auto;
    }

    .slider-list .objects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .form-container .fields-form .buttons {
        grid-template-columns: repeat(2, 1fr);
    }


}

.messages {
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes showSuccess {
    from {
        width: 0;
    }
    to {
        width: 80vw;
    }
}

@keyframes hideSuccess {
    from {
        width: 80vw;
        opacity: 1;
    }
    to {
        width: 0;
        opacity: 0;
    }
}


.messages .success {
    background: #75d00f;
    color: #ffffff;
}

.messages .error {
    background: #f33950;
    color: #ffffff;
}

.messages .success.show-message {
    text-align: center;
    opacity: 1;
    overflow: hidden;
    animation: showSuccess 0.5s ease-in-out forwards, hideSuccess 0.3s ease-in-out 4s forwards;
    padding: 10px;
    border-radius: 7px;
    width: 0;
    list-style: none;
    white-space: nowrap;
    font-weight: bolder;
    font-size: 1.2rem;
}
