{% autoescape off %}
    Здравейте, {{ user.profilebaseinformation.get_full_name }},

    За Вашия клиентски профил в <strong>{{ site_name }}</strong> е пусната заявка за забравена парола.

    Заявката е реализирана от IP адрес: <strong>{{ ip_address }}</strong>

    В случай че не сте заявили промяна на паролата, моля игнорирайте този имейл.

    За да промените паролата си, натиснете препратката по-долу.
    <strong>
        {{ protocol }}://{{ domain }}{% url 'reset password confirm' uidb64=uid token=token %}
    </strong>
    {#    {{ email }}#}
    {#    {{ domain }}#}
    {#    {{ site_name }}#}
    {#    {{ uid }}#}
    {#    {{ user }}#}
    {#    {{ token }}#}
    {#    {{ protocol }}#}

{% endautoescape %}