{% autoescape off %}
    Здравейте, {{ user.profilebaseinformation.get_full_name }},
    Здравейте, {{ user_full_name }},

    За Вашия клиентски профил в {{ site_name }} е пусната заявка за забравена парола.

    Заявката е реализирана от IP адрес:

    В случай че не сте заявили промяна на паролата, моля игнорирайте този имейл.

    За да промените паролата си, натиснете препратката по-долу.
    {{ protocol }}://{{ domain }}{% url 'reset password confirm' uidb64=uid token=token %}
    {#    {{ email }}#}
    {#    {{ domain }}#}
    {#    {{ site_name }}#}
    {#    {{ uid }}#}
    {#    {{ user }}#}
    {#    {{ token }}#}
    {#    {{ protocol }}#}

{% endautoescape %}