<article id="slider">
    <div class="home-slider swiper">
        <div class="swiper-wrapper">
            {% for slider in sliders %}
                <div class="card swiper-slide">
                    <div class="image-content">
                        <img src="{{ slider.image.url }}" alt="">
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">
                            <a href="{% url 'hike-detail' pk=slider.hike_id.pk slug=slider.hike_id.slug %}">
                                {{ slider.hike_id.title }}
                            </a>
                        </h2>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</article>
