{% load static %}

<article id="slider">
    <div class="home-slider swiper">
        <div class="swiper-wrapper">
            <div class="card swiper-slide">
                <div class="image-content">
                    <img src="{% static 'images/slider/slider-1.jpeg' %}" alt="">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Пътуване & Приключения</h2>
                    <p class="card-descr">Къде би искал да отидеш ?</p>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <img src="{% static 'images/slider/slider-2.jpeg' %}" alt="">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Пътуване & Приключения</h2>
                    <p class="card-descr">Къде би искал да отидеш ?</p>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <img src="{% static 'images/slider/slider-3.jpeg' %}" alt="">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Пътуване & Приключения</h2>
                    <p class="card-descr">Къде би искал да отидеш ?</p>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <img src="{% static 'images/slider/slider-4.jpeg' %}" alt="">
                </div>
                <div class="card-content">
                    <h2 class="card-title">Пътуване & Приключения</h2>
                    <p class="card-descr">Къде би искал да отидеш ?</p>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</article>
