{% extends 'base.html' %}
{% load static %}
{% load tags %}


{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_title %}Оценяване на сайта{% endblock %}

{% block page_content %}
    <main>
        <section>
            <article class="site-evaluation">
                <ul>
                    {% for evaluation in object_list %}
                        <li>
                            <span>Оценка: {{ evaluation.assessment }}</span>
                            {% if evaluation.comment %}
                                <span>Коментар: {{ evaluation.comment }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Предишна</a>
                    {% else %}
                        <span style="background='transpenrant';"></span>
                    {% endif %}
{#                    {% if page_obj > 1 %}#}
                        <span>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
{#                    {% endif %}#}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Следваща</a>
                    {% else %}
                        <a href="a"></a>
                    {% endif %}
                </div>
                <p class="average-grade">Средна оценка: {% average_site_evaluation %}</p>
            </article>
        </section>
    </main>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/aside-bar-menu.js' %}"></script>
    <script src="{% static 'js/site-evaluation.js' %}"></script>
{% endblock %}
