{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% block page_styles %} {% endblock %}

    <title>{% block page_title %} {% endblock %}</title>
</head>
<body>

{% include 'navigation.html' %}

{% block page_content %}{% endblock %}

{% include 'aside-bar.html' %}

{% include 'footer.html' %}

{% block page_scripts %}{% endblock %}

</body>
</html>

