{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <title>Document</title>
</head>
<body>
<header class="main-header">
    <div class="top-small-header"></div>
    <nav>
        <ul class="menu-wrapper">
            <li class="logo">
                <img src="media/Logo%20-%20походи.png"
                     alt="">
            </li>
            <li class="menu-btn-small" id="menu-btn-small"><i class="fa-solid fa-bars"></i></li>
        </ul>
    </nav>
</header>
<aside id="side-menu-mobile" class="side-menu-mobile collapse">
    <ul>
        <li><a href="#">Dashboard</a></li>
        <li>
            <a href="#">Features</a>
            <ul>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Elements</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Services</a>
            <ul>
                <li><a href="#">App Design</a></li>
                <li><a href="#">Web Design</a></li>
            </ul>
        </li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Shortcuts</a></li>
        <li><a href="#">Feedback</a></li>
    </ul>
</aside>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>