{% extends 'base.html' %}
{% load static %}


{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
{% endblock %}

{% block page_content %}
    <main>
        <section id="slider">
            {% include 'home-page/slider.html' %}
            {#            {% include 'home-page/sing-up-for-hike.html' %}#}
        </section>
        <section id="hike-list">
            {% include 'hike/templates/list.html' %}
        </section>
    </main>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/sign-up-form.js' %}"></script>
    <script src="{% static 'js/home-slider.js' %}"></script>
    <script src="{% static 'js/hike-more-pictures-slider.js' %}"></script>
{% endblock %}

