{% extends 'base.html' %}
{% load static %}


{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_content %}
    <main>
        <section class="form-container">
            <form action="{% url 'slider-create' %}" method="post" class="fields-form" enctype="multipart/form-data">
                <h2>Създаване на слайдър</h2>
                {% for field in form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {{ field.errors }}
                {% endfor %}
                {% csrf_token %}
                <div class="buttons">
                    <button>Създай</button>
                    <button onclick="history.back()">Отказ</button>
                </div>
            </form>
        </section>
    </main>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/aside-bar-menu.js' %}"></script>
    <script src="{% static 'js/site-evaluation.js' %}"></script>
{% endblock %}
