{% extends 'base.html' %}
{% load static %}


{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_content %}
    <main>
        <section>
            {% for slider in object_list %}
                {{ slider }}
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/aside-bar-menu.js' %}"></script>
    <script src="{% static 'js/site-evaluation.js' %}"></script>
{% endblock %}
