<ul id="password-help-text">
    <p>Паролата ви трябва да съдържа:</p>
    <li id="too-short">
        <i class="fa-solid fa-xmark"></i>
        <span>най-малко 8 символа.</span>
    </li>
    <li id="uppercase-letter">
        <i class="fa-solid fa-xmark"></i>
        <span>една главна буква.</span>
    </li>
    <li id="lowercase-letter">
        <i class="fa-solid fa-xmark"></i>
        <span>една малка буква.</span>
    </li>
    <li id="number">
        <i class="fa-solid fa-xmark"></i>
        <span>едно число.</span>
    </li>
</ul>