{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block page_content %}
    <main>
        <section>
            <article class="reset-password">
                <h1>Информацията за възобновяване на достъпа до клиентския Ви профил е изпратена на контактния имейл
                    адрес.</h1>
                <p>За да получите нова парола за достъп до клиентския си профил, влезте в пощата си и следвайте
                    инструкциите, намиращи се в изпратения от нас имейл.</p>
            </article>
        </section>
    </main>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}