{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load change_password_validation_help_text %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
{% endblock %}

{% block page_content %}
    <section>
        <article class="sign-container">
            <form method='post' action="{% url 'sign in user' %}" class="sing-form">
                <h2>Рестартирай паролата си</h2>
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">
                        <i class="{% form_icons field.id_for_label %}"></i>
                        <span>{{ field.label }}</span>
                        {{ field }}
                    </label>
                    {% if field.help_text %}
                        <ul id="password_help_text">
                            <li id="password_too_short">
                                <i class="fa-solid fa-xmark"></i>
                                Вашата парола трябва да съдържа най-малко 8 символа.
                            </li>
                            <li id="password_numeric">
                                <i class="fa-solid fa-xmark"></i>
                                Вашата парола не трябва да съдържа само цифри
                            </li>
                            <li id="password_similar">
                                <i class="fa-solid fa-xmark"></i>
                                Вашата парола не може да бъде твърде подобна на другата ви лична информация.
                            </li>
                        </ul>
                    {% endif %}
                    {#<i class="fa-solid fa-check"></i>#}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{% change_error_message error %}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                {% csrf_token %}
                <button>Изпрати</button>
            </form>
        </article>
    </section>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}