{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
{% endblock %}

{% block page_content %}
    <section>
        <article class="form-container">
            <form method='post' action="{% url 'sign in user' %}" class="fields-form">
                <h2>Вход</h2>
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">
                        <i class="{% form_icons field.id_for_label %}"></i>
                        <span>{{ field.label }}</span>
                        {{ field }}
                    </label>
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{% change_error_message error %}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                <div>
                    <p><a href="{% url 'reset password' %}">Забравена парола</a></p>
                    <p>Нямате акаунт ? Направете си от <a href="{% url 'sign up user' %}">тук</a></p>
                </div>
                {% csrf_token %}
                <button>Вход</button>
            </form>
        </article>
    </section>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}