{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
{% endblock %}

{% block page_content %}
    <section>
        <article class="sign-up-user">
            <form method='post' action="{% url 'sign in user' %}" class="sing-up-form">
                <h2>Вход</h2>
                <label for="email">
                    <i class="fas fa-envelope"></i>
                    <span>Имейл:</span>
                    <input type="email" name="email" id="email" placeholder="Въведете вашият имейл ...">

                </label>
                <label for="password">
                    <i class="fas fa-lock"></i>
                    <span>Парола:</span>
                    <input type="password" name="password" id="email" placeholder="Въведете вашата парола ...">
                </label>
                <button>Вход</button>
                {% csrf_token %}
            </form>
        </article>
    </section>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}