{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load tags %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/scrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_content %}
    <main>
        <section class="signed-for-hike">
            <h1>{{ hike.title }}</h1>
            <table>
                <thead>
                <tr>
                    <td>№</td>
                    <td>Име и фамилия</td>
                    <td>Телефон</td>
                    <td>Брой възрастни</td>
                    <td>Брой деца</td>
                    <td>Ще патуват с</td>
                    <td><i class="fa-solid fa-rectangle-list"></i></td>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj.user_object.get_full_name }}</td>
                        <td>
                            <a href="tel:{{ obj.user_object.phone_number }}">
                                {{ obj.user_object.phone_number }}
                            </a>
                        </td>
                        <td>{{ obj.adults_numbers }}</td>
                        <td>{{ obj.children_numbers }}</td>
                        <td>{{ obj.get_travel_with_display }}</td>
                        <td>
                            <ul id="signed-for-hike-actions">
                                <i class="fa-solid fa-list-ul"></i>
                                <ul>
                                    {% all-recorded-actions obj %}
                                </ul>
                            </ul>
                        </td>
                    </tr>
                {% empty %}
                    <tr class="empty">
                        <td colspan="7">Няма участници записани за похода</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="all-recorded-result">
            {% total-travel-with-organized-transport hike.pk as total_organized_travel %}
            {% total-travel-with-own-transport hike.pk as total_own_travel %}
            <ul>
                <li>
                    <span>
                        <i class="fa-solid fa-bus"></i>
                        Общ брой участници с организиран транспорт: {{ total_organized_travel }}
                    </span>
                    <ul>
                        <li>Общ брой възрастни: {% total-adults-with-organized-transport hike.pk %}</li>
                        <li>Общ брой деца ( под 16 години ): {% total-children-with-organized-transport hike.pk %}</li>
                    </ul>
                </li>
                <li>
                    <i class="fa-solid fa-car"></i>
                    Общ брой участници със собствен транспорт: {{ total_own_travel }}
                </li>
                <li>
                    <i class="fa-solid fa-person-hiking"></i>
                    Общ брой на всички участници: {% total-count-for-hike total_own_travel total_organized_travel %}
                </li>
            </ul>
        </section>
    </main>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/aside-bar-menu.js' %}"></script>
    <script src="{% static 'js/signed-for-hike-actions.js' %}"></script>
{% endblock %}

