{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/scrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_title %}Детайли на поход{% endblock %}

{% block page_content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <main>
        <section class="hike-detail">
            <article class="hike">
                <h1>{{ hike.title }}</h1>
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2"
                     id="main-picture">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ hike.main_picture.url }}" alt="Picture missing"/>
                        </div>
                        {% for picture in hike.more_pictures.all %}
                            <div class="swiper-slide">
                                <img src="{{ picture.image.url }}" alt="Picture missing"/>
                            </div>

                        {% endfor %}
                    </div>
                    {% if hike.more_pictures.all|length > 0 %}
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    {% endif %}
                </div>
                {% if hike.more_pictures.all|length > 0 %}
                    <div thumbsSlider="" class="swiper mySwiper" id="more-pictures">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{{ hike.main_picture.url }}" alt="Picture missing"/>
                            </div>
                            {% for picture in hike.more_pictures.all %}
                                <div class="swiper-slide">
                                    <img src="{{ picture.image.url }}" alt=""/>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <p id="date"><i class="fa-solid fa-calendar-days"></i>Дата на събитието: {{ object.get_event_date }}</p>
                <p id="price"><i class="fa-regular fa-money-bill-1"></i>Цена: {{ object.get_hike_price }}</p>
                <p id="duration"><i class="fa-solid fa-clock"></i>Продължителност: {{ object.get_duration_time }}</p>
                <p id="level"><i class="fa-solid fa-person-hiking"></i>Ниво: {{ object.level }}</p>
                <p id="type"><i class="fa-solid fa-mountain-sun"></i></i>Тип: {{ object.type }}</p>
                <p id="description"> {{ object.description }}</p>
            </article>

            {% if request.user.is_staff %}
                <div class="actions">
                    <a href="{% url 'hike-update' pk=object.pk slug=object.slug %}">Редакция</a>
                    <a href="{% url 'hike-delete' pk=object.pk slug=object.slug %}">Изтриване</a>
                </div>
            {% else %}
                <div class="actions">
                    {% if not is_event_done %}
                        <a href="{% url 'sign-up-for-hike' pk=object.pk slug=object.slug %}" id="sign-for-hike">
                            Запиши ме запохода</a>
                    {% endif %}
                </div>
            {% endif %}
        </section>
    </main>
    {% include 'hike/templates/sign-for-hike-modal.html' %}
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/aside-bar-menu.js' %}"></script>
    <script src="{% static 'js/hike-modal.js' %}"></script>
    <script src="{% static 'js/requests-messages.js' %}"></script>
    {% if user.is_anonymous %}
        <script src="{% static 'js/hike-modal-sign-up.js' %}"></script>
    {% endif %}
    {% if hike.more_pictures.all|length > 0 %}
        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'js/hike-more-picture-slider-detail-template.js' %}"></script>
    {% endif %}
{% endblock %}

