{% extends 'base.html' %}
{% load dispatcher_for_level_and_type_of_hike %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/scrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <main>
        <article class="hike-types">
            {% dispatcher-hike-or-level %}
        </article>
    </main>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/requests-messages.js' %}"></script>
    <script src="{% static 'js/hike-more-pictures-slider.js' %}"></script>
    <script src="{% static 'js/aside-bar-menu.js' %}"></script>
{% endblock %}
