{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_content %}
    <section class="hikes-list">
        {% block hikes-list %}
            {% for hike in object_list %}
                <article class="hike">
                    <div class="hike-header">
                        <h1>
                            <a href="{% url 'hike detail' pk=hike.pk slug=hike.slug %}">
                                {{ hike.title }}
                            </a>
                        </h1>
                        <p class="event-date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>{{ hike.get_event_date }}</span>
                        </p>
                    </div>
                    <div class="hike-body">
                        <figure>
                            <a href="{% url 'hike detail' pk=hike.pk slug=hike.slug %}">
                                <img src="{{ hike.main_picture.url }}" alt=""/>
                            </a>
                        </figure>
                        <p class="price">
                            <i class="fa-regular fa-money-bill-1"></i>
                            <span>{{ hike.get_hike_price }}</span>
                        </p>
                        <p class="duration">
                            <i class="fa-solid fa-clock"></i>
                            <span>{{ hike.get_duration_time }}</span>
                        </p>
                        <p class="level">
                            <i class="fa-solid fa-person-hiking"></i>
                            <span>{{ hike.level }}</span>
                        </p>
                        <p class="description">{{ hike.description }}</p>

                    </div>
                    <div class="buttons">
                        <button><a href="{% url 'hike detail' pk=hike.pk slug=hike.slug %}">Виж повече</a></button>
                        <button><a href="#">Запиши ме за похода</a></button>
                    </div>
                </article>
            {% endfor %}
        {% endblock %}
    </section>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/hike-more-pictures-slider.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

