{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/scrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_content %}
    <section class="hikes-list">
        {% block hikes-list %}
            {% for hike in object_list %}
                <article class="hike">
                    <div class="hike-header">
                        <h1>
                            <a href="{% url 'hike detail' pk=hike.pk slug=hike.slug %}">
                                {{ hike.title }}
                            </a>
                        </h1>
                        <p class="event-date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>{{ hike.get_event_date }}</span>
                        </p>
                    </div>
                    <div class="hike-body">
                        <figure>
                            <a href="{% url 'hike detail' pk=hike.pk slug=hike.slug %}">
                                <img src="{{ hike.main_picture.url }}" alt=""/>
                            </a>
                        </figure>
                        <p class="price">
                            <i class="fa-regular fa-money-bill-1"></i>
                            <span>{{ hike.get_hike_price }}</span>
                        </p>
                        <p class="duration">
                            <i class="fa-solid fa-clock"></i>
                            <span>{{ hike.get_duration_time }}</span>
                        </p>
                        <p class="level">
                            <i class="fa-solid fa-person-hiking"></i>
                            <span>{{ hike.level }}</span>
                        </p>
                    </div>
                    {% if hike.more_pictures.all|length > 0 %}
                        <div class="swiper more-pictures">
                            <div class="swiper-wrapper">
                                {% for picture in hike.more_pictures.all %}
                                    <div class="swiper-slide">
                                        <img src="{{ picture.image.url }}" alt="Picture missing">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    {% endif %}
                    <p class="description">{{ hike.description }}</p>
                    <div class="buttons">
                        <button><a href="{% url 'hike detail' pk=hike.pk slug=hike.slug %}">Виж повече</a></button>
                        <button><a href="#">Запиши ме за похода</a></button>
                    </div>
                </article>
            {% endfor %}


            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Предишна</a>
                {% else %}
                    <button></button>
                {% endif %}
                <span>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Следваща</a>
                {% endif %}
            </div>
        {% endblock %}
    </section>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/hike-more-pictures-slider.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

