{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_content %}
    <form method="post" class="sign-up-for-hike m0 br0 b-bottom">
        <h2>Запиши се за поход</h2>
        {% for field in form %}
            <div class="form-floating">
                {{ field }}
                {#                <input type="text" id="first-name" value="{{ user.get_first_name }}" required>#}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
        {% endfor %}
        {% csrf_token %}
        <button>Изпрати</button>
    </form>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/show-hike-upload-picture.js' %}"></script>
{% endblock %}
