{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_content %}
    <section id="sign-up-hike">
        <article class="sign-up-form">
            <form method="post" class="sign-up-for-hike"
                  action="{% url 'sign up for hike' pk=object.pk slug=object.slug %}">
                {% include 'hike/templates/sign-for-hike-model-form.html' %}
            </form>
        </article>
    </section>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/sign-up-form.js' %}"></script>
    <script src="{% static 'js/show-hike-upload-picture.js' %}"></script>
{% endblock %}
