{% extends 'base.html' %}
{% load static %}


{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_title %}Предстоящи походи{% endblock %}

{% block page_content %}
    <main>
        <section id="hike-list">
            {% include 'hike/templates/list-hikes.html' %}
        </section>
    </main>
    {% include 'hike/templates/sign-for-hike-modal.html' %}
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/aside-bar-menu.js' %}"></script>
    <script src="{% static 'js/sign-up-form.js' %}"></script>
    <script src="{% static 'js/hike-modal.js' %}"></script>
    <script src="{% static 'js/hike-more-pictures-slider.js' %}"></script>
    {% if request.user.is_anonymous %}
        <script src="{% static 'js/hike-modal-sign-up.js' %}"></script>
    {% endif %}
{% endblock %}
