{% extends 'base.html' %}
{% load fill_icons_form_tag %}
{% load change_error_message %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_content %}
    <main>
        <section class="hike-detail">
            <article class="form-container">
                <figure>
                    <img src="{{ object.main_picture.url }}" alt="">
                </figure>
                <form action="{% url 'hike update'  pk=object.pk slug=object.slug %}" method="post" class="fields-form"
                      enctype="multipart/form-data">
                    {% for field in form %}
                        {% if field.id_for_label == 'id_new_main_picture' %}
                            <label for="{{ field.id_for_label }}">
                                <span>{{ field.label }}</span>
                                {{ field }}
                            </label>
                            <div class="new-image">
                                <img src="" id="new-picture" alt=""/>
                            </div>
                        {% else %}
                            <label for="{{ field.id_for_label }}">
                                <span>{{ field.label }}</span>
                                {{ field }}
                            </label>
                        {% endif %}
                    {% endfor %}
                    {% csrf_token %}
                    <button>Запазване</button>
                    <button type="button">
                        <a href="{% url 'hike more pictures' pk=object.pk slug=object.slug %}">Добавяне на снимки</a>
                    </button>
                    <button type="button">
                        <a href="{% url 'hike delete' pk=object.pk slug=object.slug %}">Изтриване</a>
                    </button>
                    <div class="buttons">

                    </div>
                </form>
            </article>
        </section>
    </main>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/show-hike-upload-picture.js' %}"></script>
{% endblock %}

